<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pzhu.geny.mapper.ClassMapper">
  <resultMap id="BaseResultMap" type="cn.pzhu.geny.pojo.Class">
    <id column="class_no" jdbcType="VARCHAR" property="classNo" />
    <result column="class_major_no" jdbcType="INTEGER" property="classMajorNo" />
    <result column="class_tea_no" jdbcType="INTEGER" property="classTeaNo" />
  </resultMap>
  <sql id="Base_Column_List">
    class_no, class_major_no, class_tea_no
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from class
    where class_no = #{classNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from class
    where class_no = #{classNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="class_no" keyProperty="classNo" parameterType="cn.pzhu.geny.pojo.Class" useGeneratedKeys="true">
    insert into class (class_major_no, class_tea_no)
    values (#{classMajorNo,jdbcType=INTEGER}, #{classTeaNo,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="class_no" keyProperty="classNo" parameterType="cn.pzhu.geny.pojo.Class" useGeneratedKeys="true">
    insert into class
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="classMajorNo != null">
        class_major_no,
      </if>
      <if test="classTeaNo != null">
        class_tea_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="classMajorNo != null">
        #{classMajorNo,jdbcType=INTEGER},
      </if>
      <if test="classTeaNo != null">
        #{classTeaNo,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.pzhu.geny.pojo.Class">
    update class
    <set>
      <if test="classMajorNo != null">
        class_major_no = #{classMajorNo,jdbcType=INTEGER},
      </if>
      <if test="classTeaNo != null">
        class_tea_no = #{classTeaNo,jdbcType=INTEGER},
      </if>
    </set>
    where class_no = #{classNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.pzhu.geny.pojo.Class">
    update class
    set class_major_no = #{classMajorNo,jdbcType=INTEGER},
      class_tea_no = #{classTeaNo,jdbcType=INTEGER}
    where class_no = #{classNo,jdbcType=VARCHAR}
  </update>
</mapper>