<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pzhu.geny.mapper.EnterpriseMapper">
  <resultMap id="BaseResultMap" type="cn.pzhu.geny.pojo.Enterprise">
    <id column="ent_no" jdbcType="INTEGER" property="entNo" />
    <result column="ent_name" jdbcType="VARCHAR" property="entName" />
  </resultMap>
  <sql id="Base_Column_List">
    ent_no, ent_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from enterprise
    where ent_no = #{entNo,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from enterprise
    where ent_no = #{entNo,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="ent_no" keyProperty="entNo" parameterType="cn.pzhu.geny.pojo.Enterprise" useGeneratedKeys="true">
    insert into enterprise (ent_name)
    values (#{entName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="ent_no" keyProperty="entNo" parameterType="cn.pzhu.geny.pojo.Enterprise" useGeneratedKeys="true">
    insert into enterprise
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="entName != null">
        ent_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="entName != null">
        #{entName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.pzhu.geny.pojo.Enterprise">
    update enterprise
    <set>
      <if test="entName != null">
        ent_name = #{entName,jdbcType=VARCHAR},
      </if>
    </set>
    where ent_no = #{entNo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.pzhu.geny.pojo.Enterprise">
    update enterprise
    set ent_name = #{entName,jdbcType=VARCHAR}
    where ent_no = #{entNo,jdbcType=INTEGER}
  </update>
</mapper>