<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pzhu.geny.mapper.TeacherMapper">
  <resultMap id="BaseResultMap" type="cn.pzhu.geny.pojo.Teacher">
    <id column="tea_no" jdbcType="INTEGER" property="teaNo" />
    <result column="tea_id" jdbcType="VARCHAR" property="teaId" />
    <result column="tea_name" jdbcType="VARCHAR" property="teaName" />
    <result column="tea_sex" jdbcType="VARCHAR" property="teaSex" />
    <result column="tea_contact" jdbcType="VARCHAR" property="teaContact" />
  </resultMap>
  <sql id="Base_Column_List">
    tea_no, tea_id, tea_name, tea_sex, tea_contact
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from teacher
    where tea_no = #{teaNo,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from teacher
    where tea_no = #{teaNo,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="tea_no" keyProperty="teaNo" parameterType="cn.pzhu.geny.pojo.Teacher" useGeneratedKeys="true">
    insert into teacher (tea_no ,tea_id, tea_name, tea_sex,
      tea_contact)
    values (#{teaNo},#{teaId,jdbcType=VARCHAR}, #{teaName,jdbcType=VARCHAR}, #{teaSex,jdbcType=VARCHAR},
      #{teaContact,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="tea_no" keyProperty="teaNo" parameterType="cn.pzhu.geny.pojo.Teacher" useGeneratedKeys="true">
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="teaId != null">
        tea_id,
      </if>
      <if test="teaName != null">
        tea_name,
      </if>
      <if test="teaSex != null">
        tea_sex,
      </if>
      <if test="teaContact != null">
        tea_contact,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="teaId != null">
        #{teaId,jdbcType=VARCHAR},
      </if>
      <if test="teaName != null">
        #{teaName,jdbcType=VARCHAR},
      </if>
      <if test="teaSex != null">
        #{teaSex,jdbcType=VARCHAR},
      </if>
      <if test="teaContact != null">
        #{teaContact,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.pzhu.geny.pojo.Teacher">
    update teacher
    <set>
      <if test="teaId != null">
        tea_id = #{teaId,jdbcType=VARCHAR},
      </if>
      <if test="teaName != null">
        tea_name = #{teaName,jdbcType=VARCHAR},
      </if>
      <if test="teaSex != null">
        tea_sex = #{teaSex,jdbcType=VARCHAR},
      </if>
      <if test="teaContact != null">
        tea_contact = #{teaContact,jdbcType=VARCHAR},
      </if>
    </set>
    where tea_no = #{teaNo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.pzhu.geny.pojo.Teacher">
    update teacher
    set tea_id = #{teaId,jdbcType=VARCHAR},
      tea_name = #{teaName,jdbcType=VARCHAR},
      tea_sex = #{teaSex,jdbcType=VARCHAR},
      tea_contact = #{teaContact,jdbcType=VARCHAR}
    where tea_no = #{teaNo,jdbcType=INTEGER}
  </update>
</mapper>