<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pzhu.geny.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="cn.pzhu.geny.pojo.User">
    <id column="user_no" jdbcType="INTEGER" property="userNo" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="permission" jdbcType="INTEGER" property="permission" />
    <result column="head_path" jdbcType="VARCHAR" property="headPath" />
  </resultMap>
  <sql id="Base_Column_List">
    user_no, user_password, permission, head_path
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where user_no = #{userNo,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where user_no = #{userNo,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="user_no" keyProperty="userNo" parameterType="cn.pzhu.geny.pojo.User" useGeneratedKeys="true">
    insert into user (user_password, permission, head_path
      )
    values (#{userPassword,jdbcType=VARCHAR}, #{permission,jdbcType=INTEGER}, #{headPath,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="user_no" keyProperty="userNo" parameterType="cn.pzhu.geny.pojo.User" useGeneratedKeys="true">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userPassword != null">
        user_password,
      </if>
      <if test="permission != null">
        permission,
      </if>
      <if test="headPath != null">
        head_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userPassword != null">
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="permission != null">
        #{permission,jdbcType=INTEGER},
      </if>
      <if test="headPath != null">
        #{headPath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.pzhu.geny.pojo.User">
    update user
    <set>
      <if test="userPassword != null">
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="permission != null">
        permission = #{permission,jdbcType=INTEGER},
      </if>
      <if test="headPath != null">
        head_path = #{headPath,jdbcType=VARCHAR},
      </if>
    </set>
    where user_no = #{userNo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.pzhu.geny.pojo.User">
    update user
    set user_password = #{userPassword,jdbcType=VARCHAR},
      permission = #{permission,jdbcType=INTEGER},
      head_path = #{headPath,jdbcType=VARCHAR}
    where user_no = #{userNo,jdbcType=INTEGER}
  </update>
</mapper>